{% extends 'base.html' %}

{% block 'main' %}



        <div class="row"><!-- start of my about page-->
            <div class="col- md-12">
              <center>              
                <h1>"At Agustd, We Serve More Than Just Food"</h1>
              <h3>Our commitment is to serve you fresh, flavorful meals, inspired by tradition. </h3>
            </center>
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif ;">ABOUT</h2>
                <hr>
                <p style="color: indigo;">"Where Culinary Passion Meets Exquisite Taste" At Agustd Restaurant, we blend traditional recipes with modern flavors to create a dining experience that captivates your senses. Our commitment to quality ingredients and exceptional service sets the stage for unforgettable meals in a warm and welcoming atmosphere.

                </p>
            </div>

            <div class="col-md-6">
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif ;">VISSION</h2>
                <hr>
                <p style="color: indigo;">"To Serve Happiness on Every Plate" Our mission at Agustd Restaurant is to provide a culinary journey that delights every guest with fresh, flavorful dishes, exceptional hospitality, and a memorable dining experience. We strive to create a community around the love of great food.

                </p>
            </div>

            <div class="col-md-6">
                <h2 style="font-family: Georgia, 'Times New Roman', Times, serif ;">MISSION</h2>
                <hr>
                <p style="color: indigo;">"To Become a Landmark of Taste and Tradition" Our vision is to become a celebrated destination for food lovers who appreciate authenticity, innovation, and the joy of sharing meals with friends and family. We aim to build lasting connections with our patrons and set a new standard for dining excellence.

                </p>
            </div>
            
            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif ;">STATISTICS</h2>
            <hr>
            <div class="row"><!-- start shadow box-->
                <div class="col-md-4 shadow p-5" >
                    <h3 class="text-dark">10000+</h3>
                    <h6 class="text-center">Happy customers...........</h6>
               </div>

               <div class="col-md-4 shadow p-5" >
                <h3 class="text-dark">10000+</h3>
                <h6 class="text-center">Happy customers...........</h6>
           </div>

           <div class="col-md-4 shadow p-5" >
            <h3 class="text-dark">10000+</h3>
            <h6 class="text-center">Happy customers...........</h6>
       </div>

            </div><!-- end of shadow box-->

            

        </div><!-- End of the about page-->



       
{% endblock %}
