


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant|index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
  </head>
<body>

    <div class="row my-4  bg-dark"><!--start of footer-->
    <div class="col-md-3 text-primary">
      <h5 class="text-light"><b>Address</b></h5>
      <hr>
      no.1c, 4rth st,
      B kalyanapuram,
      Vyasarpadi,
      Chennai-39
      </div>
      <div class="col-md-3">
      <h5 class="text-light">Quick links</h5>
      <hr>
      <a href="/home" class="anch" ><strong>Home</strong></a><br>
      <a href="/about" class="anch"><strong>About</strong></a><br>
      <a href="/contact" class="anch"><strong>Contact</strong></a><br>
    </div>
    <div class="col-md-3">
      <h5 class="text-light">Contact Us</h5>
      <hr>
      <h5 class=" social text-primary"><a href="https://r.search.yahoo.com/_ylt=AwrKB8MbFtBmmAQAb.q7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1726122779/RO=10/RU=https%3a%2f%2fwww.facebook.com%2flogin.php%2f/RK=2/RS=XREgM4hzJfKFKREh5dL.CXzS4dM-"><i class="bi bi-facebook"></i></a></h5>
      <h5 class=" social text-primary"><a href=" https://r.search.yahoo.com/_ylt=AwrKBEM_FtBmjAQAF8.7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1726122816/RO=10/RU=https%3a%2f%2fwww.instagram.com%2faccounts%2flogin%2f/RK=2/RS=Ip1y7dBGZPMvP1O74Tn6pf83omc-"><i class="bi bi-instagram text-danger"></i></a></h5>
      <h5 class=" social text-dark"><a href=" https://r.search.yahoo.com/_ylt=Awr1QapUFtBmCAQAd7.7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1726122837/RO=10/RU=https%3a%2f%2ftwitter.com%2fxDaily/RK=2/RS=kW8Zw.6O7Sw7Jb7.2aY2KUpq1ec-"><i class="bi bi-twitter-x text-light"></i></a></h5>

    </div>
  </div>
        


</body>
</html>